@model MenuBoards.Web.ViewModels.BaseResponse

<p>
    @Html.ActionLink("View all slides", "ViewAllSlides", "Slide")
</p>
@if (Model.Success)
{
    <div class="alert alert-danger">
        <strong>Success!</strong> slide deleted.
    </div>
}
else
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @Model.Message.
    </div>
}