@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MENU BOARDS</h1>
    <p class="lead">CREATE, PUBLISH AND DISPLAY STUNNING DIGITAL MENU BOARDS WITH SIGNAGELIVE</p>
    <p class="lead">
        Signagelive is a simple to use, powerful web-based solution for creating digital menu boards and publishing them to a single display or to many thousands anywhere in the world.
    </p>
    <p><a href="/dashboard/index" class="btn btn-primary btn-lg">Demo</a></p>
</div>
<div class="jumbotron">
    <h1>DIGITAL MENU BOARDS</h1>
    <p class="lead">Creating digital menu boards and updating pricing information is easy with Signagelive. Manage a single digital menu board or thousands online today.</p>
    <p><a href="/dashboard/index" class="btn btn-primary btn-lg">Dashboard &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>