
<script type="text/x-handlebars-template" id="SingleColumnBronzeTmpl">
    
    <div class="SingleColumnBronzeTmpl">
        <div class="form-group">
            <label class="control-label col-md-2">Background Color</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line BackgroundColor" type="text" value="{{BackgroundColor}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Heading Bk Color</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line HeadingBkgdColor" type="text" value="{{HeadingBkgdColor}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Heading Color</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line HeadingColor" type="text" value="{{HeadingColor}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Heading Text size</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line HeadingTextSize" type="text" value="{{HeadingTextSize}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Menu item color</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line MenuItemColor" type="text" value="{{MenuItemColor}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Menu item text size</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line MenuItemTextSize" type="text" value="{{MenuItemTextSize}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Menu item sub text size</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line MenuItemSubTextSize" type="text" value="{{MenuItemSubTextSize}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Menu price text size</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line MenuItemPriceTextSize" type="text" value="{{MenuItemPriceTextSize}}" />
            </div>
        </div>
    </div>

</script>

<script src="~/Scripts/SettingTemplates/SingleColumnBronze.js"></script>