<script type="text/x-handlebars-template" id="ThreeColumnTmpl">

    <div class="ThreeColumnTmpl">
        <div class="form-group">
            <label class="control-label col-md-4">Background Color</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line BackgroundColor" type="text" rv-value="settings.BackgroundColor" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Heading Bk Color</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line HeadingBkgdColor" type="text" rv-value="settings.HeadingBkgdColor" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Heading Color</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line HeadingColor" type="text" rv-value="settings.HeadingColor" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Heading Text size</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line HeadingTextSize" type="text" rv-value="settings.HeadingTextSize" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Menu item color</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line MenuItemColor" type="text" rv-value="settings.MenuItemColor" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Menu item text size</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line MenuItemTextSize" type="text" rv-value="settings.MenuItemTextSize" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Menu item sub text size</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line MenuItemSubTextSize" type="text" rv-value="settings.MenuItemSubTextSize" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Menu price text size</label>
            <div class="col-md-8">
                <input class="form-control text-box single-line MenuItemPriceTextSize" type="text" rv-value="settings.MenuItemPriceTextSize" />
            </div>
        </div>
    </div>

</script>