<div class="row">
    <div class="col-md-6">
        <h2>Global Settings</h2>
        <p>
            This allows you to set preferences and settings that apply to all slides and groups
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Settings &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View Slides</h2>
        <p>View all slides</p>
        <p>
            @Html.ActionLink("View All", "ViewAllSlides", "Slide", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>