<div class="modal fade" id="displaySettingsTpl" tabindex="-1" role="dialog" aria-labelledby="delMenuColWarnModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Display Settings</h5>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">Go live date</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control text-box single-line ds-goLive"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Disable Menu</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control text-box single-line ds-goLive"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="saveDesignSettings btn btn-danger">Save</button>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/menuBoards.displaySettings.js?@DateTime.Now.Ticks"></script>