body {
    padding-bottom: 20px;
    background: linear-gradient(to right, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
    color: #ffffff;
}

a, a:hover {
    color: #ffffff;
    text-decoration: none;
}

.top-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
    
    .top-menu li {
        list-style: none;
        display: list-item;
        text-align: -webkit-match-parent;
    }
    .top-menu a {
        display: inline-block;
        color: rgba(255, 255, 255, 0.5);
        margin: 0 20px;
        text-transform: uppercase;
        font-size: 12px;
    }
.top-menu a:hover {
    color: #00ff8c;
}

.link-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

    .link-list li {
        list-style: none;
        display: list-item;
        text-align: -webkit-match-parent;
    }
    .link-list a {
        display: inline-block;
        color: rgba(255, 255, 255, 0.5);
        margin: 0 20px;
        text-transform: uppercase;
        font-size: 12px;
    }
        .link-list a:hover {
            color: #00ff8c;
        }

.position-list {
    padding-left: 0;
}
.position-list a {
    margin: 0;
    margin-right: 10px;
}

.subtext-box {
    width: 300px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

table tbody tr {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.card {
    color: #000000;
}
.hide {
    display: none;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.home-carousel-container {
    /*background-color: #003d99;*/
    position: relative;
    z-index: 1000;
    min-height: 200px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.freequote-container {
    width: 100px;
    z-index: 1100;
    background-color: #000000;
    position: absolute;
    top: 10%;
    left: 65%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.freequote-container .get {
    color: #8b0000;
    font-size: 12px;
}
.freequote-container .fquote {
    color: #ffffff;
    font-size: 14px;
}

.sc-basic h1 {
    background-color: green;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.sc-basic h4 {
    border-bottom: 1px dashed #eee;
    padding-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sc-basic .menuitem {
    margin-bottom: 30px;
}
.sc-basic h4 .price{
    float: right;
}

.menuitemstable td {
    vertical-align: middle !important;
}
/**Single col - Bronze */
.sc-bronze h1 {
    background-color: green;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.sc-bronze .menuitem h4 {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sc-bronze .menuitem .menuitem-subtext {
    padding-bottom: 5px;
}
.sc-bronze .menuitem {
    padding-bottom: 5px;
    border-bottom: 2px dashed #eee;
    margin-bottom: 30px;
}