@model MenuBoards.Web.ViewModels.GlobalSettings

<h4>Global Settings</h4>
<hr />
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header text-info"><strong>Display code</strong></div>
            <div class="card-body">@Model.DisplayCode</div>
            <div class="card-footer">
                <a class="btn btn-info" href="@Url.Action("CreateDisplayCode")">Get New Display Code</a>
            </div>
        </div>
    </div>
</div>

