@using MenuBoards.Web.ViewModels
@model MenuBoards.Web.ViewModels.Displays.MenuSlideDisplay

@{
    Layout = "~/Views/Display/_MenuSlideLayout.cshtml";
}

@if (Model == null)
{
    <span>Model is Null</span>
}
else
{
    if (!Model.IsLive)
    {
        <div>Not Live yet</div>
    }
    else
    {
        <div>
            @if (Model.MenuSlide.Menus.Any())
            {
                if (Model.DesignSettings.TemplateType == TemplateTypes.GetSingleColumn().Id)
                {
                    <div>@{ Html.RenderPartial($"SingleColumn/{Model.DesignSettings.SubTemplate}", Model); }</div>
                }
                else
                {
                    <div>No template selected</div>
                }
            }
            else
            {
                <div>No menu items</div>
            }
        </div>
    }

    <script type="text/javascript">
    $("document").ready(function() {
        setInterval(function() {
            $.ajax({
                type: 'GET',
                url: '/Display/Ping?slideId=' + '@Model.MenuSlide.Id' + '&dt=' + '@Model.DateTimeStamp',
                success: function(response) {
                    if (response === true) {
                        window.location.reload(true);
                    }
                }
            });
        }, 10000);  // Every 1 minute
    })
    </script>
}

