@model IEnumerable<MenuBoards.Web.ViewModels.Slide>
@{
    Layout = "~/Views/Display/_MenuSlideLayout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Slides
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("MenuSlide", new {slideId = item.Id})">LOAD &raquo;</a>
            </td>
        </tr>
    }

</table>
